
body,
.display,
.calculator{
    display: flex;
    flex-direction: column;
}
body{
    align-items: center;
}

.title{
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
}

.calculator{
    width: 25vw;
    height: 70vh;
    padding: 16px 12px;

    align-items: center;
    justify-content: space-around;

    border: 1px black solid;
}
.calculator > div{
    width: 100%;
}
.display{
    height: 30%;
    border: 1px black solid;
}
.top{
    height: 35%;
}
.bottom{
    height: 50%;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
#clear,
#delete{
    width: 40%;
}
button{
    width: 20%;
    height: 8vh;
    flex: auto;
}